.perfilusuario-container {
  padding: 20px;
  margin-bottom: 70px; /* para no tapar el footer */
  text-align: center;
}

.perfilusuario-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.perfilusuario-info {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logout-btn-cliente {
  background-color: #0bb397;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.logout-btn-cliente:hover {
  background-color: #099c85;
}
